html,
body {
  height: 100%;
}

body {
  display: flex;
  /* align-items: center; */
  padding-top: 10px;
  padding-bottom: 20px;
  /* background-color: #282F37; */
  background: url(../img/NewCanvas1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  background: white;
  border-radius: 23px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btnCadastrar {
  margin-top: 35px;
}

.dadosUsuario {
  text-align: left;
}

.dadosPessoais {
  text-align: left;
  margin-top: 30px;
}

.divisor {
  margin-top: 0px;
  padding-top: 0px;
}

.form-control-file {
  padding-top: 10px;
}

.navbar {
  background: white;
}